# Basic DataFrame with Apache PySpark
In this tutorial, I will show you how to read csv file and working with dataframe by using apache pyspark.
<hr>

## Preparation
We need some basic tools for this lab:

In [1]:
# import librariries
import pyspark as ps
import numpy as np
import matplotlib.pyplot as plt

# check version of airflow
ps.__version__

'3.2.1'

**Import pyspark sql to implement datafile**

In [87]:
# import pyspark
from pyspark.sql import SparkSession

# define section
sparkss = SparkSession.builder.appName('example1').getOrCreate()
#sparkss.conf.set("spark.sql.repl.eagerEval.enabled", True)

## Load csv data file

In [17]:
cd .. # check the directory

/Users/nguyens/Documents/airflow-learning/tutorials

In [19]:
!ls # list all file and folder

220502-notebook-1-v0.ipynb data

In [10]:
# download file from web
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data -O ../data/adult.csv

# down load and store to 'data/adult.csv'

--2022-05-02 11:09:35--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘../data/adult.csv’

../data/adult.csv   100%[===================>]   3.79M   329KB/s    in 13s

2022-05-02 11:09:50 (296 KB/s) - ‘../data/adult.csv’ saved [3974305/3974305]

In [4]:
# Check the tree of the folder
!tree .. -L 3

..
├── LICENSE
├── README.md
└── tutorials
    ├── 220502-notebook-1-v0.ipynb
    └── data
        └── adult.csv

2 directories, 4 files

In [88]:
import os

# path file (assume the csv data file is in data directory)
path = os.getcwd() + '/data/' # get current directory
file_name = 'adult.csv'
columns = ["Age", "worldclass", "fnlwgt", "education", "eduction-num",
          "marital-status", "occupation", "relationship",
          "race", "sex", "capital-gain", "capital-loss",
          "hours-per-week", "native-country", "income"]
df = sparkss.read.csv(os.path.join(path, file_name), 
                      header=None, inferSchema=True)

In [89]:
df.show(5)

+---+-----------------+--------+----------+----+-------------------+------------------+--------------+------+-------+------+----+----+--------------+------+
|_c0|              _c1|     _c2|       _c3| _c4|                _c5|               _c6|           _c7|   _c8|    _c9|  _c10|_c11|_c12|          _c13|  _c14|
+---+-----------------+--------+----------+----+-------------------+------------------+--------------+------+-------+------+----+----+--------------+------+
| 39|        State-gov| 77516.0| Bachelors|13.0|      Never-married|      Adm-clerical| Not-in-family| White|   Male|2174.0| 0.0|40.0| United-States| <=50K|
| 50| Self-emp-not-inc| 83311.0| Bachelors|13.0| Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|   0.0| 0.0|13.0| United-States| <=50K|
| 38|          Private|215646.0|   HS-grad| 9.0|           Divorced| Handlers-cleaners| Not-in-family| White|   Male|   0.0| 0.0|40.0| United-States| <=50K|
| 53|          Private|234721.0|      11th| 7.0| Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|   0.0| 0.0|40.0| United-States| <=50K|
| 28|          Private|338409.0| Bachelors|13.0| Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|   0.0| 0.0|40.0|          Cuba| <=50K|
+---+-----------------+--------+----------+----+-------------------+------------------+--------------+------+-------+------+----+----+--------------+------+
only showing top 5 rows

It's nice but the columns name are not expected. Let change them to have the meaningful dataset.

In [90]:
# chagne the name of the column
df = df.toDF(*columns)
df.show(5)

+---+-----------------+--------+----------+------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
|Age|       worldclass|  fnlwgt| education|eduction-num|     marital-status|        occupation|  relationship|  race|    sex|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+-----------------+--------+----------+------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
| 39|        State-gov| 77516.0| Bachelors|        13.0|      Never-married|      Adm-clerical| Not-in-family| White|   Male|      2174.0|         0.0|          40.0| United-States| <=50K|
| 50| Self-emp-not-inc| 83311.0| Bachelors|        13.0| Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|         0.0|         0.0|          13.0| United-States| <=50K|
| 38|          Private|215646.0|   HS-grad|         9.0|           Divorced| Handlers-cleaners| Not-in-family| White|   Male|         0.0|         0.0|          40.0| United-States| <=50K|
| 53|          Private|234721.0|      11th|         7.0| Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|         0.0|         0.0|          40.0| United-States| <=50K|
| 28|          Private|338409.0| Bachelors|        13.0| Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|         0.0|         0.0|          40.0|          Cuba| <=50K|
+---+-----------------+--------+----------+------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------+
only showing top 5 rows

Still difficult to see, right? Select method can help to select just few columns for better view.

In [91]:
df.select("Age", "worldclass", "fnlwgt", "education").show(5)

+---+-----------------+--------+----------+
|Age|       worldclass|  fnlwgt| education|
+---+-----------------+--------+----------+
| 39|        State-gov| 77516.0| Bachelors|
| 50| Self-emp-not-inc| 83311.0| Bachelors|
| 38|          Private|215646.0|   HS-grad|
| 53|          Private|234721.0|      11th|
| 28|          Private|338409.0| Bachelors|
+---+-----------------+--------+----------+
only showing top 5 rows

Nice! show as expected!

But we can customize view to see something like pandas? Let's take a trial

In [72]:
# set option for 'SparkSession'
df.show(n=5, truncate=False, vertical=True)

-RECORD 0-----------------------------
 Age            | 39
 worldclass     |  State-gov
 fnlwgt         | 77516.0
 education      |  Bachelors
 eduction-num   | 13.0
 marital-status |  Never-married
 occupation     |  Adm-clerical
 relationship   |  Not-in-family
 race           |  White
 sex            |  Male
 capital-gain   | 2174.0
 capital-loss   | 0.0
 hours-per-week | 40.0
 native-country |  United-States
 income         |  <=50K
-RECORD 1-----------------------------
 Age            | 50
 worldclass     |  Self-emp-not-inc
 fnlwgt         | 83311.0
 education      |  Bachelors
 eduction-num   | 13.0
 marital-status |  Married-civ-spouse
 occupation     |  Exec-managerial
 relationship   |  Husband
 race           |  White
 sex            |  Male
 capital-gain   | 0.0
 capital-loss   | 0.0
 hours-per-week | 13.0
 native-country |  United-States
 income         |  <=50K
-RECORD 2-----------------------------
 Age            | 38
 worldclass     |  Private
 fnlwgt         | 215646.0
 education      |  HS-grad
 eduction-num   | 9.0
 marital-status |  Divorced
 occupation     |  Handlers-cleaners
 relationship   |  Not-in-family
 race           |  White
 sex            |  Male
 capital-gain   | 0.0
 capital-loss   | 0.0
 hours-per-week | 40.0
 native-country |  United-States
 income         |  <=50K
-RECORD 3-----------------------------
 Age            | 53
 worldclass     |  Private
 fnlwgt         | 234721.0
 education      |  11th
 eduction-num   | 7.0
 marital-status |  Married-civ-spouse
 occupation     |  Handlers-cleaners
 relationship   |  Husband
 race           |  Black
 sex            |  Male
 capital-gain   | 0.0
 capital-loss   | 0.0
 hours-per-week | 40.0
 native-country |  United-States
 income         |  <=50K
-RECORD 4-----------------------------
 Age            | 28
 worldclass     |  Private
 fnlwgt         | 338409.0
 education      |  Bachelors
 eduction-num   | 13.0
 marital-status |  Married-civ-spouse
 occupation     |  Prof-specialty
 relationship   |  Wife
 race           |  Black
 sex            |  Female
 capital-gain   | 0.0
 capital-loss   | 0.0
 hours-per-week | 40.0
 native-country |  Cuba
 income         |  <=50K
only showing top 5 rows

In [86]:
# Not really what i want to show. Let's try to convert to pandas
df.limit(num=5).toPandas().head()

# here i passed .limit() to minimize the memory use for this task. because we only want to see the dataframe in 
# right manner.

,Age,worldclass,fnlwgt,education,eduction-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

**Change Log**

| No. | Rev. | Description | Change by | Date |
| --- | ---- | ----------- | --------- | ---- |
| 0 | 0 | First Issue | NguyenS | 02.05.2022 |